<?xml version="1.0" encoding="utf-8"?>
<manifest package="checkpoint.project.andela.pushfit"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pushfit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Pushup.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="4"/>

        <receiver android:name="checkpoint.project.andela.pushfit.notification.AlarmResetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="checkpoint.project.andela.pushfit.notification.AlarmBroadcast"
            android:process=":remote"/>

        <service
            android:name="checkpoint.project.andela.pushfit.notification.UserAlarmService"
            android:exported="false"/>
        <activity
            android:name="checkpoint.project.andela.pushfit.activities.HomeDrawer"
            android:label="@string/title_activity_home_drawer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="checkpoint.project.andela.pushfit.activities.AppIntroActivity">
        </activity>
        <activity android:name="checkpoint.project.andela.pushfit.activities.SettingActivity">
        </activity>
    </application>

</manifest>
